
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation</title>
</head>
<body>
    <form action=" " method="post">
        {%csrf_token%}
        <input type="text" name="words">
        <br>
        <button id="sub" type="submit "> Search </button>
        <h1>hello</h1>

    </form>

    {% for n,c,s,cat,star,r in mylist %}
        <li>{{n}}</li>
        <h3>{{c}}</h3>
        <h3>{{s}}</h3>
        <h3>{{cat}}</h3>
        <h3>{{star}}</h3>
        <h3>{{r}}</h3>
        <h1>hello</h1>
        {% endfor %}
</body>
</html>


